* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow: visible;
  }
  
  body {
    overflow-y: hidden;
  }

  ::-webkit-scrollbar {
    display: none;
  }
  
  h1 {
    font-family: "Unica One", sans-serif;
    text-align: center;
    padding: 1vh;
  }
  
  h2,
  h3 {
    font-family: "Unica One", sans-serif;
    font-weight: 300;
    text-align: center;
    padding: 1vh;
  }
  
  h4,
  span {
    font-family: "Barlow", sans-serif;
    font-weight: 300;
    font-size: 3em;
    vertical-align: text-bottom;
    display: inline-block;
  }
  
  span.arrow {
    position: relative;
    font-size: 1em;
    color: rgba(204, 236, 165, 1);
  
  }
  
  span.arrow:first-child {
    display: none;
  }
  
  .component {
    box-shadow: 1vh 1vh 1vw 1vw rgba(0, 0, 0, 0.03);
  }
  
  #right {
    animation: bounceR 2.5s infinite;
  }
  
  @keyframes bounceR {
    0% {
      transform: translateX(-10px);
    }
  
    40% {
      transform: translateX(20px);
    }
  
    100% {
      transform: translateX(-10px);
    }
  }
  
  #left {
    -moz-animation: bounceL 3s infinite;
    -webkit-animation: bounceL 3s infinite;
    animation: bounceL 3s infinite;
  }
  
  @keyframes bounceL {
    0% {
      transform: translateX(10px) scaleX(-1);
    }
  
    40% {
      transform: translateX(-20px) scaleX(-1);
    }
  
    100% {
      transform: translateX(10px) scaleX(-1);
    }
  }
  
  h1 {
    font-size: 6em;
  }
  
  h2 {
    font-size: 4em;
    margin: 0.5vh;
  }
  
  p {
    font-family: "Barlow", sans-serif;
  }
  
  .wetUpdateTime,
  .dryUpdateTime {
    font-size: 1.2em;
  }
  
  .header {
    position: fixed;
    top: 1%;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
  
  .grid {
    margin-top: 6%;
    display: grid;
    grid-template-columns: repeat(3, calc(50% - 1vh));
    grid-template-rows: 81vh;
    padding: 2vh 3vh;
    grid-gap: 1vh;
    text-align: center;
  }
  
  .grid #gallery {
    background-color: rgba(255, 239, 208, 0.5);
    border-radius: 3vh;
    overflow: scroll;
  }
  
  .grid #map-div {
    background-color: rgba(204, 236, 165, 0.5);
    border-radius: 3vh;
    position: relative;
  }
  
  .nested {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 40vh 40vh;
    grid-gap: 1vh;
  }
  
  .nested div:nth-child(1) {
    background-color: rgb(255, 239, 208);
    border-radius: 3vh;
    background-image: url("img/dry.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: bottom;
    padding-top: 2vh;
  }
  
  .nested div:nth-child(2) {
    background-color: rgb(177, 255, 218, 0.8);
    border-radius: 3vh;
    background-image: url("img/wet-bg1.png");
    background-size: 98%;
    background-repeat: no-repeat;
    background-position: bottom;
    padding-top: 2vh;
  }
  
  .w-2 {
    grid-column: span 2;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 3vh;
  }
  
  .w-2 ul {
    padding: 2vh 5vw;
  }
  
  ul {
    display: inline-block;
    list-style-type: none;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 2vh;
    padding: 2vh;
    /* margin: 1vh; */
  }
  
  /* ul li:last-child {
    padding: 1vh;
  } */
  
  ul li {
    padding-left: 1vh;
  }
  
  .component {
    position: relative
  }
  
  .component > p {
    position: absolute;
    bottom: 1vh;
    left: 0;
    right: 0;
  }
  
  .well-ul {
    position: relative;
    top: 10%;
    text-align: center;
  }
  
  .img-gallery-container {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 15em;
    grid-gap: 1em;
    grid-auto-flow: row;
    margin: 1em;
  }
  
  .gallery-item {
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .gallery-item .image {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 2vh;
    box-shadow: 4px 4px 20px -2px rgba(0, 0, 0, 0.35);
  }
  
  .gallery-item .image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 50% 50%;
    object-position: 50% 50%;
  }
  
  .gallery-item .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: aliceblue;
    font-size: 25px;
  }
  
  .modal {
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    z-index: 2;
  }
  
  .modal.open {
    opacity: 1;
    pointer-events: all;
  }
  
  .modal p {
    color: white;
    font-size: 3rem;
    position: absolute;
    bottom: 7%;
    left: 50%;
    transform: translate(-50%, -5%);
  }
  
  .modal-img {
    position: absolute;
    height: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all 0.25s ease-out;
    border-radius: 2vh;
  }
  
  .modal-img.open {
    transform: translate(-50%, -50%) scale(1);
  }
  
  /* dropdown */
  .filter {
    display: flex;
    justify-content: left;
  }
  
  .filter nav:first-child {
    margin-left: 2.5%;
  }
  
  nav {
    position: relative;
    width: 30%;
    margin: 0 1%;
  }
  
  #seasonNav h3,
  #seasonNav ul li {
    background: rgba(255, 167, 192, 0.9);
  }
  
  #monthNav h3,
  #monthNav ul li {
    background: rgba(90, 146, 81, 0.9);
  }
  
  #areaNav h3,
  #areaNav ul li {
    background: rgba(90, 161, 175, 0.9);
  }
  
  nav h3 {
    border-radius: 1.5vh;
    position: relative;
    font-size: 2em;
    text-transform: uppercase;
    color: ivory;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 20px -2px rgba(0, 0, 0, 0.35);
    transition: all 0.4s;
    padding: 0.5vh;
  }
  
  nav:hover h3 {
    transform: translateY(-2px);
    box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.35);
  }
  
  nav:hover:active h3 {
    transform: translateY(10px);
    box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, 0.35);
  }
  
  input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    opacity: 0;
    cursor: pointer;
    height: 40px;
  }
  
  #seasonNav .toggle:checked~ul,
  #monthNav .toggle:checked~ul,
  #areaNav .toggle:checked~ul {
    height: 0%;
  }
  
  nav ul {
    position: absolute;
    width: 100%;
    padding: 0;
    list-style: none;
    overflow: hidden;
    text-align: right;
    text-align: center;
    transition: all 0.4s ease-out;
    height: 100%;
    z-index: 1;
    border-radius: 1vh;
    background-color: none;
  }
  
  nav ul li {
    line-height: 1.5;
    margin-top: -0.1px;
    transition: background 3s;
  }
  
  #seasonNav ul li:hover,
  #monthNav ul li:hover,
  #areaNav ul li:hover {
    background: #FBD963;
    transition: background 0.45s;
  }
  
  #seasonNav ul {
    height: 320%;
    /* height: 7.5em; */
  }
  
  #monthNav ul {
    height: 842%;
  }
  
  #areaNav ul {
    height: 712%;
  }
  
  nav ul button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
    color: ivory;
    font-family: "Barlow", sans-serif;
    font-size: 1.5em;
    text-transform: lowercase;
    transition: color 0.3s;
    width: 100%;
  }
  
  nav ul,
  nav ul li,
  nav ul li:last-child {
    display: block;
    padding: 0;
    margin: 0;
  }
  
  #map {
    width: 100%;
    height: 85%;
    -o-object-fit: contain;
    object-fit: contain;
    padding: 1vh;
    transform: rotate(-10deg);
    z-index: 1;
  }

  .area {
    cursor: pointer;
  }
  
  #logo0 {
    position: absolute;
    width: 1.6%;
    ;
    transform: translate(-15%, 110%) rotate(30deg);
  }
  
  #logo1 {
    position: absolute;
    width: 2.1%;
    ;
    transform: translate(-30%, 30%);
  }
  
  #logo2 {
    position: absolute;
    width: 1.8%;
    ;
    transform: translate(60%, 190%) rotate(170deg);
  }
  
  #logo3 {
    position: absolute;
    width: 1.5%;
    ;
    transform: translate(-30%, 100%) rotate(90deg);
  }
  
  #logo4 {
    position: absolute;
    width: 1.2%;
    ;
    transform: translate(100%, 200%) rotate(170deg);
  }
  
  #logo {
    position: absolute;
    width: 25%;
    ;
    transform: translate(-10%, -25%);
  }
  
  .background {
    position: absolute;
    width: 94%;
    height: 85%;
    text-align: center;
    margin: 0 3%;
    background-color: rgba(204, 236, 165, 0.5);
    border-radius: 3vh;
  }
  
  .footer {
    margin-top: 0.3vh;
    text-align: center;
    position: relative;
    top: 95%;
    left: 40%;
    color: rgb(202, 202, 202);
  }

  .copyrights {
    position: fixed;
  }
  
  #refreshTimer {
    position: fixed; 
    right: 1vw;
  }