* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow: visible;
}

.scroll-container {
  display: grid;
  grid-template-columns: repeat(3);
  grid-auto-columns: 50% 50% 50%;
  grid-auto-flow: column;
  grid-auto-rows: 300px;
  grid-gap: 10px;
}

.grid-container {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 300px;
  grid-gap: 10px;
  grid-auto-flow: row;
}

.img-gallery-container {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 150px;
  grid-gap: 10px;
  grid-auto-flow: row;
  position: absolute;
  top: 25%;
}

.gallery-container-color {
  background-color: rgba(204, 236, 165, 0.5);
  padding: 10px;
  border-radius: 10px;
  overflow: scroll;
}

.gallery-container-color-2 {
  background-color: rgba(204, 236, 165, 1);
  padding: 10px;
  border-radius: 10px;
  position: relative;
}

.gallery-item {
  width: 100%;
  height: 100%;
  position: relative;
}

.gallery-item .image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 4px 4px 20px -2px rgba(0,0,0,.35);
}

.gallery-item .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.gallery-item-map .image img {
  height: 100%;
  width: 100%;
  padding-top: 50px;
  object-fit: contain;
}

.gallery-item .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: aliceblue;
  font-size: 25px;
}

.w-2 {
  grid-column: span 2;
}

.h-2 {
  grid-row: span 2;
}

body {
  margin: 20px;
  padding: 0px;
  position: relative;
}

h1 {
  font-size: 70px;
  margin-bottom: 20px;
  text-align: center;
  position: relative;
  top: 10%;
}

h2 {
  margin: 0px;
  font-size: 30px;
  text-align: center;
}

h3 {
  margin: 0px;
  font-size: 25px;
}

h1,
h2,
h3 {
  font-family: "Unica One", sans-serif;
}

.check {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.row {
  display: flex;
}

.content-row {
  display: flex;
  justify-content: center;
}

.col {
  justify-content: center;
  margin-left: 1vw;
  margin-right: 1vw;
  margin-top: 1vh;
}

.bg-square {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 5px;
  border-radius: 5px;
}

.update, .wetUpdateTime, .dryUpdateTime {
  font-size: x-small;
  color: gray;
}

.wet-color {
  background-color: rgba(177, 255, 218, 1);
  background-image: url("img/wet.png");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  padding: 55px;
}

.dry-color {
  background-color: rgba(255, 239, 208, 1);
  background-image: url("img/dry.png");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  padding: 55px;
}

.wellesley-color {
  background-image: url("img/snowy.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  padding: 9.3vh;
}

.degree-section {
  display: flex;
  align-items: center;
  font-family: "Barlow", sans-serif;
  font-weight: bold;
  font-size: 24px;
}

.temperature-disc {
  font-family: "Barlow", sans-serif;
  font-size: 24px;
  font-weight: bold;
}

label {
  display: flex;
  font-family: "Barlow", sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.degree-section span {
  margin: 5px 10px;
}

.bloom-color {
  background-color: rgba(204, 236, 165, 1);
  padding: 250px;
  margin-top: 1vh;
  border-radius: 10px;
}

.footer {
  margin-top: 5vh;
  text-align: center;
}

.copyrights {
  color: rgb(202, 202, 202);
}

p {
  padding: 10px 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .row {
    flex-direction: column;
  }
  .wellesley-color {
    margin-top: 1vh !important;
  }

  .bloom-color {
    display: none;
  }
}

.modal {
  background: rgba(0,0,0,0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
}

.modal.open {
  opacity: 1;
  pointer-events: all;
}
.modal p {
  color: white;
  font-size: 1.5rem;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate( -50%,-5%);
}

.modal-img {
  position: absolute;
  height: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) scale(0.5);
  transition: all 0.25s ease-out;
}

.modal-img.open {
  transform: translate(-50%,-50%) scale(1);
}


/* dropdown */
nav {
  position: relative;
  width: 20%;
  height: 200px;
  margin: 1%;
}

#seasonNav h2, #seasonNav ul li {
  background: #FEA7C0;
}

#monthNav h2, #monthNav ul li {
  background: #5D9B0D;
}

nav h2 {
  border-radius: 10px;
  position: relative;
  font-size: 20px;
  text-transform: uppercase;
  color: ivory;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 4px 20px -2px rgba(0,0,0,.35);
  transition: all .4s;
  margin-bottom: 5%;
}

nav:hover h2{
  transform: translateY(-2px);
  box-shadow: 2px 2px 5px -1px rgba(0,0,0,.35);
 }
nav:hover:active h2{
  transform: translateY(10px);
  box-shadow: 0px -1px 2px 0px rgba(0,0,0,.35);
 }

input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  opacity: 0;
  cursor: pointer;
  height: 40px;
}

.toggle:checked ~ul{
  height: 0%;
}

nav ul {
  position: absolute;
  width: 100%; 
  padding-left: 0;
  padding-top: 0;
  margin-top: 0;
  list-style: none;
  overflow: hidden;
  text-align: right;
  margin-bottom: 22px;
  text-align: center;
  transition: all .4s ease-out;
  height: 100%;
  z-index: 1;
}

nav ul li {
  border-radius: 10px;
  margin-left: 35px;
  line-height: 1.5;
  margin: 0;
  margin-bottom: 5px;
  transition: background 3s;
  box-shadow: 2px 2px 10px -2px rgba(0,0,0,.35);
}

#seasonNav ul li:hover, #monthNav ul li:hover {
  background: #FBD963;
  transition: background .45s;
}

nav ul button {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	cursor: pointer;
	outline: inherit;
  color: ivory;
  font-family: "Barlow", sans-serif;
  text-transform: lowercase;
  transition: color .3s;
}