<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@100;300;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Unica+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
    <!-- <link rel="icon" href="icon.png"> -->
    <title>The Global Flora</title>
</head>

<body>
    <div class="container">

        <!-- header -->
        <div class="content-row">
            <h1> Welcome to the Global Flora!</h1>
        </div>

        <!-- first grid with wet biome, dry biome, and wellesley weather -->
        <div class="scroll-container">
            <div class="gallery-container h-2">
                <div class="gallery-item">

                    <div class="grid-container">
                        <div class="gallery-container">
                            <div class="gallery-item">
                                <div class="wet-color">
                                    <div class="bg-square">
                                        <h2> Wet Biome</h2>
                                        <div class="content-row">
                                            <div class="degree-section">
                                                <h4 class="wetDegree"></h4>
                                                <span> F </span>
                                            </div>
                                        </div>
                                        <div class="content-row">
                                            <div class="degree-section">
                                                <h4 class="wetTempC"></h4>
                                                <span> C </span>
                                            </div>
                                        </div>
                                        <div class="content-row">
                                            <div class="degree-section">
                                                <span class="iconify" data-icon="carbon:accumulation-rain"
                                                    data-height="30"></span>
                                                <h4 class="wetHumd"></h4>
                                                <span>%</span>
                                            </div>
                                        </div>
                                        <div class="content-row">
                                            <div class="degree-section">
                                                <span class="update">Last updated:</span>
                                                <h4 class="wetUpdateTime"></h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="gallery-container">
                            <div class="gallery-item">
                                <div class="dry-color">
                                    <div class="bg-square">
                                        <h2> Dry Biome</h2>
                                        <div class="content-row">
                                            <div class="degree-section">
                                                <h4 class="dryDegree"></h4>
                                                <span> F </span>
                                            </div>
                                        </div>
                                        <div class="content-row">
                                            <div class="degree-section">
                                                <h4 class=dryTempC></h4>
                                                <span> C </span>
                                            </div>
                                        </div>
                                        <div class="content-row">
                                            <div class="degree-section">
                                                <span class="iconify" data-icon="carbon:accumulation-rain"
                                                    data-height="30"></span>
                                                <h4 class="dryHumd"></h4>
                                                <span> % </span>
                                            </div>
                                        </div>

                                        <div class="content-row">
                                            <div class="degree-section">
                                                <span class="update">Last updated:</span>
                                                <h4 class="dryUpdateTime"></h4>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="gallery-container w-2">
                            <div class="gallery-item">
                                <div class="wellesley-color">
                                    <div class="bg-square">
                                        <div class="content-row">
                                            <div class="location">
                                                <h2 class="location-timezone"> Wellesley </h2>
                                            </div>
                                        </div>
                                        <div class="content-row">
                                            <div class="temperature">
                                                <div class="degree-section">
                                                    <h4 class="degree"></h4>
                                                    <span> F </span>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="content-row">
                                            <div class="degree-section">
                                                <h4 class="cel"></h4>
                                                <span> C </span>
                                            </div>
                                        </div>
                                        <div class="content-row">
                                            <div class="temperature-disc"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- image gallery -->
            <div class="gallery-container-color h-2">
                <div class="content-row">
                    <h2> Gallery </h2>
                </div>

                <!-- filter through dropdowns -->
                <div class="filter">

                    <nav id="seasonNav">
                        <h2>Season</h2>
                        <input class="toggle" type="checkbox" checked>
                        <ul>
                            <li><button id="sAll">All</button></li>
                            <li><button id="sSpr">Spring</button></li>
                            <li><button id="sSum">Summer</button></li>
                            <li><button id="sAut">Autumn</button></li>
                            <li><button id="sWin">Winter</button></li>
                        </ul>
                    </nav>

                    <nav id="monthNav">
                        <h2>Month</h2>
                        <input class="toggle" type="checkbox" checked>
                        <ul>
                            <li><button id="mAll">All</button></li>
                            <li><button id="mJan">January</button></li>
                            <li><button id="mFeb">February</button></li>
                            <li><button id="mMar">March</button></li>
                            <li><button id="mApr">April</button></li>
                            <li><button id="mMay">May</button></li>
                            <li><button id="mJun">June</button></li>
                            <li><button id="mJul">July</button></li>
                            <li><button id="mAug">August</button></li>
                            <li><button id="mSep">September</button></li>
                            <li><button id="mOct">October</button></li>
                            <li><button id="mNov">November</button></li>
                            <li><button id="mDec">December</button></li>
                        </ul>
                    </nav>

                    <nav id="areaNav">
                        <h2>Area</h2>
                        <input class="toggle" type="checkbox" checked>
                        <ul>
                            <li><button id="aAll">All</button></li>
                            <li><button class="map-CP">Camellia Pavilion</button></li>
                            <li><button class="map-M">Mezzanine</button></li>
                            <li><button class="map-WN">Wet North</button></li>
                            <li><button class="map-WW">Wet West</button></li>
                            <li><button class="map-WE">Wet East</button></li>
                            <li><button class="map-WS">Wet South</button></li>
                            <li><button class="map-DN">Dry North</button></li>
                            <li><button class="map-DW">Dry West</button></li>
                            <li><button class="map-DE">Dry East</button></li>
                            <li><button class="map-DS">Dry South</button></li>
                            <li><button class="map-VC">Visitor Center</button></li>
                        </ul>
                    </nav>

                </div>

                <!-- gallery items appended to this div -->
                <div class="img-gallery-container"></div>
            </div>


            <!-- map -->
            <div class="gallery-container-color-2 h-2">
                <div class="content-row">
                    <h2> Map </h2>
                </div>
                <div class="gallery-item-map">
                    <div class="image"><img src="../static/img/map.png" alt="" usemap="#globalfloramap" id="map"></div>
                </div>

                <map name="globalfloramap">
                    <area class="map-CP" alt="Camellia Pavilion" href="" title="Camellia Pavilion" coords="437,181,32"
                        shape="circle">
                    <area class="map-M" alt="Mezzanine " href="" title="Mezzanine" coords="70,271,0,369,59,407,120,299"
                        shape="poly">
                    <area class="map-WN" alt="Wet North" href="" title="Wet North"
                        coords="127,305,114,329,254,362,306,351,306,339" shape="poly">
                    <area class="map-DN" alt="Dry North" href="" title="Dry North"
                        coords="327,329,450,270,459,279,333,358" shape="poly">
                    <area class="map-WW" alt="Wet West" href="" title="Wet West" coords="107,335,145,342,154,398,78,385"
                        shape="poly">
                    <area class="map-WE" alt="Wet East" href="" title="Wet East"
                        coords="159,348,218,362,203,368,207,378,300,361,318,387,340,374,351,426,258,434,254,418,168,407"
                        shape="poly">
                    <area class="map-WS" alt="Wet South" href="" title="Wet South"
                        coords="99,411,209,425,206,454,343,441,346,459,205,471,93,435" shape="poly">
                    <area class="map-DW" alt="Dry West" href="" title="Dry West"
                        coords="343,373,446,307,450,315,366,396,373,404,389,391,478,376,353,426" shape="poly">
                    <area class="map-DE" alt="Dry East" href="" title="Dry East"
                        coords="475,307,395,381,480,368,508,347" shape="poly">
                    <area class="map-DS" alt="Dry South" href="" title="Dry South"
                        coords="348,442,535,358,537,392,351,453" shape="poly">
                    <area class="map-VC" alt="Visitor Center" href="" title="Visitor Center"
                        coords="614,55,585,206,672,226,703,72" shape="poly">
                </map>
            </div>


            <!-- modal -->

            <div class="modal">
                <img src="../static/img/flower.png" alt="" class="modal-img" />
                <p class="tags"> test </p>
            </div>
        </div>
    </div>

    <div class="footer">
        <p class="copyrights">© VKC Lab - Hannah Dong and Ivy Ho 2022</p>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.iconify.design/2/2.0.3/iconify.min.js"></script>
    <script src="../static/app.js"></script>
    <script>
        var photos = {{ photos | safe }};
    </script>
    <script src="../static/gallery.js"></script>
    <script src="../static/map.js"></script>
</body>

</html>